<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SMART CLASS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta16/shoelace.css">
        <link rel="stylesheet" href="styles2.css">

    </head>
    <body>
        <div class="container">
            <hr>
            <!-- <h3>Take Attendance        Monitor Attentiveness      View Progress Reports</h3> -->
            <div class="but1">
                <button style="background-color:royalblue;" id="attendance-record-btn" title="Take Attendance"><a href="/attendance/attendance.py">Take Attendance</a></button>
                <button style="background-color:royalblue;" id="attentiveness-record-btn" title="Detect Attentiveness"><a href="/Attentiveness.py">Detect Attentiveness</a></button>
                <button style="background-color:royalblue;" id="report-card-bttn" title="Report Cards"><a href="/index.html">Report Cards</a></button> 
            </div>
            <!-- <button style="background-color:royalblue;" id="report-card-bttn" title="Report Cards"><a href="{{url_for('index')}}">Report Cards</a></button>  -->

            
            <div class="heading">
                <h3>Voice Controlled Notes Section</h3>
            </div>
            
            <div class="heading2">
                <h4>Add New Note</h4>
            </div>
            <div class="app"> 
                <div class="input-single">
                    <textarea id="note-textarea" placeholder="Create a new note by typing or using voice recognition." rows="6"></textarea>
                </div>    
                <div class="but2">
                    <button  id="start-record-btn" title="Start Recording">Start Recognition</button>
                    <button id="pause-record-btn" title="Pause Recording">Pause Recognition</button>
                    <button  id="save-note-btn" title="Save Note">Save Note</button>   
                    <div class="something">
                        <p id="recording-instructions">Press the <strong>Start Recognition</strong> button. Allow access to microphone recording.</p>
                    </div>
                </div>     
                
                <div class="heading3">
                    <h4>All your Notes</h4>
                </div>
                
                <div id="notes">
                    <p class="no-notes">You don't have any notes.</p>
                </div>

            </div>
              
            

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="transcript_script.js"></script>

        

    </body>
</html>